@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Rubik', sans-serif;
    color: #FFFBDB;
    background-color: #65618f;
    height: 100%;
    padding: 0;
    margin: auto;
  }

  .logo {
    background-image: url('img/stellarbitesLogo.svg');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  :root {
    text-size-adjust: 100%;
  }

  h1 {
    color: #FFFBDB;
    font-family: 'Rubik';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  h2 {
    margin: 0px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  #top-bar {
    width: 90vw;
    height: 5vh;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 1%;
    background-color: #65618f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  }

  #top-bar > .left-side {
    display: flex;
    flex-direction: row;
  }

  #top-bar > div > img {
    width: 40px;
    height: 40px;
    margin-top: 4%;
    margin-right: 3%;
  }

  #search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  #nested-search-bar {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  #search-bar input {
    width: 43.5rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border-style: none;
    background: #9894c4;

    color: #322E60;
    font-family: 'Rubik';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 4%;
    padding-right: 4%;

    :focus {
      border-color: #322E60;
    }
  }

  #search-bar button {
    margin-left: 1%;
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border-style: none;
    background: #FFFBDB;
  }

  #landing-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 3%;
    padding-top: 0;
  }

  .fixed-element {
    position: fixed;
    left: 5%;
  }

  #recipe-list {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recipe-item {
    width: 25.3125rem;
    height: 23.9375rem;
    flex-shrink: 0;
    margin: 5%;
    margin-top: 0%;
    overflow: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
    border-radius: 1.125rem;

  }

  .recipe-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 5px 10px 0px #322f52;
  }

  .recipe-picture {
    height: 18.125rem;
    width: 100%;
    overflow: hidden;
    // border-radius: 3.125rem 3.125rem 0rem 0rem;

  }

  .recipe-picture > img {
    min-width: 100%;
  }

  .recipe-label {
    width: 25.3125rem;
    height: 7.8125rem;
    flex-shrink: 0;
    // border-radius: 0rem 0rem 3.125rem 3.125rem;
    background: #4F4A81;
    z-index: -1;
  }

  .recipe-text-wrapper {
    padding: 5%;
  }

  .recipe-text-wrapper > p {
    margin-top: 1%;
    font-family: 'Raleway';
    font-weight: 200;
  }

  #recipe-detail {
    width:50%;
    height: 50vh;
    background-color: #322E60;
    padding: 3%;

    img {
      width: 50%;
    }
  }



