@import url('https://fonts.cdnfonts.com/css/fredoka-one');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Fredoka One', 'Raleway', sans-serif;
    color: #FFFBDB;
    background-color: #322E60;
    height: 100%;
    padding: 0;
    margin: auto;
  }

  .logo {
    background-image: url('img/stellarbitesLogo.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  :root {
    text-size-adjust: 100%;
  }

  h1 {
    color: #FFFBDB;
    font-family: Fredoka One;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h2 {
    margin: 0px;
    font-size: 1.3rem;
  }

  #top-bar {
    width: 90vw;
    height: 10vh;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #322E60;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  }

  #top-bar > .left-side {
    display: flex;
    flex-direction: row;
  }

  #top-bar > div > img {
    width: 60px;
    height: 60px;
    margin-top: 4%;
    margin-right: 3%;
  }

  #search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  #nested-search-bar {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  #search-bar input {
    width: 43.5rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border-style: none;
    background: #716DA0;

    color: #322E60;
    font-family: Fredoka One;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 4%;
    padding-right: 4%;

    :focus {
      border-color: #322E60;
    }
  }

  #search-bar button {
    margin-left: 1%;
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border-style: none;
    background: #FFFBDB;
  }

  #recipe-list {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recipe-item {
    width: 25.3125rem;
    height: 23.9375rem;
    flex-shrink: 0;
    overflow: hidden;
    margin: 2%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
    border-radius: 3.125rem;

  }

  .recipe-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 5px 10px 0px #322f52;
  }

  .recipe-picture {
    height: 18.125rem;
    width: 100%;
    overflow: hidden;
    // border-radius: 3.125rem 3.125rem 0rem 0rem;

  }

  .recipe-picture > img {
    min-width: 100%;
  }

  .recipe-label {
    width: 25.3125rem;
    height: 5.8125rem;
    flex-shrink: 0;
    // border-radius: 0rem 0rem 3.125rem 3.125rem;
    background: #4F4A81;
    z-index: -1;
  }

  .recipe-text-wrapper {
    padding: 5%;
  }

  .recipe-text-wrapper > p {
    margin-top: 1%;
    font-family: 'Raleway';
    font-weight: 200;
  }

